body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(maroon,white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender-options {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: rgba(83, 17, 2, 0.514);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgb(58, 8, 1);
}
